@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  /*   background: rgb(242, 242, 242); */
  background: white;
  color: rgb(68, 68, 68);
  font-family: "Roboto", "Droid Sans", sans-serif;
  margin: 0;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border: none;
  width: 100%;
  padding: 0px;
}

.logo-pagina {
  padding: 10px;
  font-size: 20px;
}

.menu {
  padding: 0 10px;
  height: 100%;
}

.menu button {
  background-color: white;
  font-size: 17px;
  border: none;
  border-left: 1px solid rgb(190, 190, 190);
  padding: 10px 20px;
  height: 100%;
  cursor: pointer;
}

.menu button:hover {
  background-color: #fc6027;
  color: white;
}

h1, h2, h3 {
  text-align: center;
  font-weight: 700;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 60px;
}

.info {
  background-color: white;
  box-sizing: border-box;
  width: 700px;
  padding: 15px;
  line-height: 1.5;
}

.info h1 {
  color: #fc6027;
}

.info ul {
  list-style-position: outside;
}

.info li {
  padding-top: 2px;
  padding-bottom: 3px;
}

.info img {
  max-height: 130px;
  max-width: 500px;
}

.form-agendamento {
  background-color: #fc6027;
  color: white;
  box-sizing: border-box;
  width: 350px;
  min-height: 620px;
  margin-left: 80px;
  border-radius: 20px;
  
  display: flex;
  justify-content: center;
}

.form-agendamento,
.cancelamento {
  border-top: 10px solid #fc6027;
  border-bottom: 10px solid #fc6027;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.formulario {
  box-sizing: border-box;
  padding: 0 15px 15px;
  margin: 0;
  line-height: 1.5;
}

.formulario button {
  border: 0;
  color: #000000;
  background: rgb(242, 242, 242);
  font-weight: bold;
  padding: 8px 10px;
  font-size: 14px;
  border-radius: 4px;
  margin-top: 5px;
  cursor: pointer;
}

.formulario button:hover:enabled {
  background: #b0b0b0;
}

button:disabled {
  opacity: 0.5;
  cursor: default;
}

.formulario ul {
  padding-left: 30px;
}

.formulario li {
  padding-top: 2px;
  padding-bottom: 3px;
}

.form-agendamento h2 {
  background-color: #fc6027;
  color: white;
  box-sizing: border-box;
  width: calc(100% + 30px);
  margin: 0 -15px 15px;
  padding: 15px;
  border-radius: 30px;
}

.formulario input {
  margin: 3px;
  margin-bottom: 8px;
  padding: 5px;
}

.formulario input[type="radio"] {
  margin-left: 25px;
  margin-bottom: 20px;
}

.formulario input[type="number"],
input[type="text"],
input[type="date"] {
  width: 240px;
}

.formulario select {
  width: 290px;
  margin: 4px 4px 4px;
  padding: 6px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 2px solid #e5e5e5;
}

.popup-fundo {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.cancelamento {
  background-color: white;
  box-sizing: border-box;
  position: fixed;
  left: calc((100vw - 500px) / 2);
  top: calc((100vh - 90vh) / 2);
  width: 500px;
  height: 90vh;
  overflow-y: auto;
  z-index: 11;

  padding: 0 20px;
  padding-bottom: 20px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cancelamento h2 {
  background-color: #fc6027;
  color: white;
  box-sizing: border-box;
  width: calc(100% + 40px);
  margin: 0 -20px 15px;
  padding: 15px;
}

.cancelamento .formulario a {
  text-decoration: underline;
  cursor: pointer;
}

.cancelamento .formulario a:hover {
  background-color: black;
  color: white;
}

.fechar {
  cursor: pointer;
}

.consulta-geral {
  background-color: white;
  border-top: 20px solid #fc6027;
  border-bottom: 10px solid #fc6027;
  box-sizing: border-box;
  position: fixed;
  left: calc((100vw - 600px) / 2);
  top: calc((100vh - 95vh) / 2);
  width: 600px;
  /* height: 95vh; */
  /* overflow-y: auto; */
  z-index: 11;
  padding: 0;
}

.aba-consulta {
  overflow: hidden;
  background-color: #fc6027;
}

.aba-consulta button {
  background-color: #fc6027;
  color: white;
  float: left;
  border: 2px solid white;
  border-bottom: none;
  /* border-radius: 20px 5px 0 0; */
  border-radius: 20px 5px 0 0 / 40px 5px 0 0;
  cursor: pointer;
  padding: 15px 16px;
  font-size: 16px;
}

.aba-consulta button:hover {
  background: rgb(85, 85, 85);
  color: rgb(221, 221, 221);
}

.aba-consulta button.active {
  background: white;
  color: rgb(68, 68, 68);
  font-weight: bold;
}

.tabcontent {
  display: none;
  box-sizing: border-box;
  height: calc(95vh - 78px);
  overflow-y: scroll;
  padding: 6px 32px;
}

#btnFechar {
  float: right;
  border: none;
  border-radius: 0;
}

#btnFechar:hover {
  font-weight: bold;
  background-color: #fc6027;
  color: white;
}

#mensagem-confirm,
#consulta-geral,
#cancelamento {
  visibility: hidden;
}

.mensagem-confirm {
  box-sizing: border-box;
  position: fixed;
  left: calc((100vw - 400px) / 2);
  top: calc((100vh - 450px) / 2);
  width: 400px;
  height: 450px;
  z-index: 11;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: white;
  color: rgb(68, 68, 68);
  border-radius: 20px;
  overflow-y: auto;
  padding: 20px 20px;
}

.mensagem-confirm h3 {
  margin: 20px 0 0;
}

.mensagem-confirm button,
.cancelamento button {
  background-color: white;
  font-size: 15px;
  border: none;
  padding: 10px 10px;
  cursor: pointer;
  align-self: center;
}

.cancelamento button:disabled {
  cursor: default;
}

.mensagem-confirm button:hover,
.cancelamento button:hover:enabled {
  background-color: #fc6027;
  color: white;
}


.rodape {
	border-top: 1px solid rgb(190, 190, 190);
	padding: 14px;
	font-size: 11px;
	text-align: center;
}

.rodape a {
	color: inherit;
}

@media screen and (max-width: 1200px) {
  .info {
    width: 630px;
  }

  .form-agendamento {
    width: 300px;
    margin-left: 20px;
  }
}

@media screen and (max-width: 970px) {
  .container {
    flex-wrap: wrap;
  }

  .info {
    /* width: 700px; */
	width: 80vw;
  }

  .form-agendamento {
    /* width: 600px; */
	width: 80vw;
    padding: 0 30px;
  }
  
  .consulta-geral, .cancelamento {
	  /* width: 600px; */
	  width: 80vw;
	  left: 10vw;
  }
  
  .formulario {
	  width: 90%;
  }

  .formulario input[type="number"],
  .formulario input[type="text"],
  .formulario input[type="date"] {
    width: 90%;
  }
  
  .formulario select {
	 width: 90%; 
  }
  
  .mensagem-confirm {
  left: calc((100vw - 80vw) / 2);
  top: calc((100vh - 60vh) / 2);
  width: 80vw;
  height: 60vh;
  /* width: 600px; */
  /* height: 650px; */
  }

  .cabecalho {
    display: flex;
    flex-direction: column;
  }

  .logo-pagina {
    width: 100%;
    text-align: center;
    background-color: #fc6027;
    color: white;
  }

  .menu {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .menu button {
    border: none;
    border-bottom: 1px solid rgb(190, 190, 190);
    padding: 20px 20px;
    height: 100%;
    width: 100%;
  }
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  /*   background: #f1f1f1; */
  background: #ffffff;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}